html, body {
    margin: 0;
    height:100%;
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#gameField {
    background-color: darkgreen;
}

.full-screen {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.creature {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}

.food {
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
}

#settings {
    font-family: Verdana;
    min-width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: wheat;
}

.hidden {
    display: none;
}

#chart {
    width: 260px;
}

#toggleView {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: darkgreen;
}

